@import 'variables';

html > body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    .v-list {
        padding: 0;

        &-item {
            &__title {
                font-size: 13px;
                font-weight: 400;
                padding: $padding;
            }
            &--active {
                font-weight: bold;
                color: $primary-color;
                border-right: 3px solid $accent-color;
            }
        }
    }
}
main {
    .app-title {
        color: $second-color;
    }
    .v-card {
        &-title {
            color: $second-color;
            font-size: 1rem;
        }
        &-text {
            color: $primary-color;
        }
    }
}